#include "../library/lib.hpp"
#include <iostream>

#define INF 0x3f3f3f3f

using namespace std;

class %ClassName% {
public:
    void solve(std::istream& in, std::ostream& out) {
       ios_base::sync_with_stdio(false);
       cin.tie(nullptr);
       in.tie(nullptr);
    }
};
